# 私钥 -> 公钥 -> 公钥哈系 -> 钱包地址:
parse_privkey() {
    PRIKEY=$1
    PRIKEY_WIF_UNCOMPRESSED=`bx ec-to-wif -u $PRIKEY`
    PUBKEY_UNCOMPRESSED=`bx wif-to-public $PRIKEY_WIF_UNCOMPRESSED`
    PUBKEYHASH_UNCOMPRESSED=`bx sha256 $PUBKEY_UNCOMPRESSED | bx ripemd160`
    P2PKHADDRESS_UNCOMPRESSED=`bx address-encode -v 0 $PUBKEYHASH_UNCOMPRESSED`
    URI_UNCOMPRESSED=`bx uri-encode $P2PKHADDRESS_UNCOMPRESSED`
    QRCODE_UNCOMPRESSED=`bx qrcode -p $P2PKHADDRESS_UNCOMPRESSED`

    echo "[未压缩]" &&
    echo 私钥: $PRIKEY &&
    echo 私钥WIF: $PRIKEY_WIF_UNCOMPRESSED &&
    echo 公钥: $PUBKEY_UNCOMPRESSED &&
    echo 公钥hash: $PUBKEYHASH_UNCOMPRESSED &&
    echo P2PKH地址: $P2PKHADDRESS_UNCOMPRESSED &&
    echo URI: $URI_UNCOMPRESSED 

    echo $QRCODE_UNCOMPRESSED > /tmp/uncompressed.png

    PRIKEY_WIF_COMPRESSED=`bx ec-to-wif $PRIKEY`
    PUBKEY_COMPRESSED=`bx wif-to-public $PRIKEY_WIF_COMPRESSED`
    PUBKEYHASH_COMPRESSED=`bx sha256 $PUBKEY_COMPRESSED | bx ripemd160`
    P2PKHADDRESS_COMPRESSED=`bx address-encode -v 0 $PUBKEYHASH_COMPRESSED`
    URI_COMPRESSED=`bx uri-encode $P2PKHADDRESS_COMPRESSED`
    QRCODE_COMPRESSED=`bx qrcode -p $P2PKHADDRESS_COMPRESSED`

    P2SH_P2WPKH=`echo "0 [$PUBKEYHASH_COMPRESSED]" | bx script-encode | bx sha256 | bx ripemd160 | bx base58check-encode --version 5`
    P2WPKH=`getsegwitaddr $PUBKEYHASH_COMPRESSED`

    echo "[压缩]" &&
    echo 私钥: $PRIKEY &&
    echo 私钥WIF: $PRIKEY_WIF_COMPRESSED &&
    echo 公钥: $PUBKEY_COMPRESSED &&
    echo 公钥hash: $PUBKEYHASH_COMPRESSED &&
    echo P2PKH地址: $P2PKHADDRESS_COMPRESSED &&
    echo URI: $URI_COMPRESSED &&
    echo P2SH-P2WPKH: $P2SH_P2WPKH
    echo P2WPKH: $P2WPKH

    echo $QRCODE_COMPRESSED > /tmp/compressed.png
} 

# 私钥wif -> 私钥 -> 公钥 -> 公钥哈系 -> 钱包地址:
parse_privkeywif() {
    PRIKEYWIF=$1
    parse_privkey `bx wif-to-ec $PRIKEYWIF`
}

# 公钥[未压缩] -> 公钥哈系 -> 钱包地址
parse_pubkey_uncompressed() {
    PUBKEY_UNCOMPRESSED=$1
    PUBKEYHASH_UNCOMPRESSED=`bx sha256 $PUBKEY_UNCOMPRESSED | bx ripemd160`
    P2PKHADDRESS_UNCOMPRESSED=`bx address-encode -v 0 $PUBKEYHASH_UNCOMPRESSED`
    URI_UNCOMPRESSED=`bx uri-encode $P2PKHADDRESS_UNCOMPRESSED`
    echo "[未压缩]" &&
    echo 公钥: $PUBKEY_UNCOMPRESSED &&
    echo 公钥hash: $PUBKEYHASH_UNCOMPRESSED &&
    echo P2PKH地址: $P2PKHADDRESS_UNCOMPRESSED &&
    echo URI: $URI_UNCOMPRESSED 
}

# 公钥[压缩] -> 公钥哈系 -> 钱包地址
parse_pubkey_compressed() {
    PUBKEY_COMPRESSED=$1
    PUBKEYHASH_COMPRESSED=`bx sha256 $PUBKEY_COMPRESSED | bx ripemd160`
    P2PKHADDRESS_COMPRESSED=`bx address-encode -v 0 $PUBKEYHASH_COMPRESSED`
    URI_COMPRESSED=`bx uri-encode $P2PKHADDRESS_COMPRESSED`
    P2SH_P2WPKH=`echo "0 [$PUBKEYHASH_COMPRESSED]" | bx script-encode | bx sha256 | bx ripemd160 | bx base58check-encode --version 5`
    P2WPKH=`getsegwitaddr $PUBKEYHASH_COMPRESSED`
    echo "[压缩]" &&
    echo 公钥: $PUBKEY_COMPRESSED &&
    echo 公钥hash: $PUBKEYHASH_COMPRESSED &&
    echo P2PKH地址: $P2PKHADDRESS_COMPRESSED &&
    echo URI: $URI_COMPRESSED  &&
    echo P2SH-P2WPKH: $P2SH_P2WPKH
    echo P2WPKH: $P2WPKH
}

# 公钥哈系 -> 钱包地址
parse_pubkeyhash() {
    PUBKEYHASH=$1
    P2PKHADDRESS=`bx address-encode -v 0 $PUBKEYHASH`
    URI=`bx uri-encode $P2PKHADDRESS`
    P2SH_P2WPKH=`echo "0 [$PUBKEYHASH]" | bx script-encode | bx sha256 | bx ripemd160 | bx base58check-encode --version 5`
    P2WPKH=`getsegwitaddr $PUBKEYHASH`
    echo 公钥hash: $PUBKEYHASH &&
    echo P2PKH地址: $P2PKHADDRESS &&
    echo URI: $URI &&
    echo P2SH-P2WPKH: $P2SH_P2WPKH
    echo P2WPKH: $P2WPKH
}

# 钱包地址 -> 公钥哈系
parse_address() {
    P2PKHADDRESS=$1
    PUBKEYHASH=`bx address-decode  $P2PKHADDRESS | sed -n 4p | awk '{print $2}' `
    URI=`bx uri-encode $P2PKHADDRESS`
    P2SH_P2WPKH=`echo "0 [$PUBKEYHASH]" | bx script-encode | bx sha256 | bx ripemd160 | bx base58check-encode --version 5`
    P2WPKH=`getsegwitaddr $PUBKEYHASH`
    echo 公钥hash: $PUBKEYHASH &&
    echo P2PKH地址: $P2PKHADDRESS &&
    echo URI: $URI &&
    echo P2SH-P2WPKH: $P2SH_P2WPKH
    echo P2WPKH: $P2WPKH
}
